---
import { db, Problem } from 'astro:db'
import Layout from '../layouts/Layout.astro';

const problems = await db.select().from(Problem).all()
---

<Layout title="Welcome to Astro.">
	<main class="prose prose-invert">
		<div>
		{problems.map(problem =>
			<>
				<h2>{problem.title}</h2>
				<div set:html={problem.description} />
			</>
		)}
		</div>
	</main>
</Layout>
